<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">롤 전적 검색</a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">
        <div id="SearchForm" class="input-group">
          <input type="text" placeholder="소환사명" value="<%= params[:name] %>" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary">전적 검색</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h1>소환사명</h1>
    <p>소환사 정보</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>모스트 챔피언</h4>
    </div>
    <div class="col-md-8">
      <h4>최근 게임</h4>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 롤 전적 검색 2015</p>
  </footer>
</div>
